
html {
  scroll-behavior: smooth;
}

body {
  background: #242424;
  margin: 0;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 11px;
  background-color: rgba(36, 36, 36, 0.1);
}

body::-webkit-scrollbar-thumb {
  background-color: #7b308d;
  border-radius: 4px;
}

body.active {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1720px;
  margin: 0 auto;
  padding: 0px 60px;
}

@media(max-width: 768px){
  .container{
    padding: 0px 40px;
  }
}
@media(max-width: 480px){
  .container{
    padding: 0px 10px;
  }
}

a {
  text-decoration: none;
  color: white;
}

@font-face {
  font-family: 'Montserrat';
  src: url(./Montserrat/Montserrat-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(./Montserrat/Montserrat-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(./Montserrat/Montserrat-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(./Montserrat/Montserrat-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(./Montserrat/Montserrat-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat';
  text-wrap: wrap;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}


